extends ../layout

block content
  a(href="/bicicletas/create") Nueva Bicicleta

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col') Ver
        th(scope='col') 
        th(scope='col') 
    tbody
      each bici in bicis
        tr
          th(scope='row')
            = bici.code
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
             a.btn.btn-primary.btn-lg(href="bicicletas/"+bici.id+"/view") Abrir en nueva ventana
          td
            a.btn.btn-primary.btn-lg(href="bicicletas/"+bici.id+"/update") Editar

          td
            form.eliminar(action="bicicletas/"+bici.id+"/delete" method="post")
              input(type="hidden" name="id" value= bici.code)
              button.btn.btn-danger.btn-lg(type='submit' name="submit_param" value="submit_value") Eliminar
